html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end */

/* body */

body {
  width: 70%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;

  font-family: "Montserrat", sans-serif;
}
/* some  style */
.clr {
  overflow: both;
}

section {
  height: 700px;
}

p {
  line-height: 1.8;
  padding-bottom: 30px;
}

.half-float > h1 {
  padding-bottom: 15px;
  font-size: 24px;
}

#pink-text {
  font-size: 40px;
  color: rgb(236, 76, 122);
}

.btn-style {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(45deg, rgb(236, 79, 146), rgb(237, 75, 112));
  padding: 10px 40px;
  border-radius: 10px;
}

.btn-style:hover {
  background: linear-gradient(45deg, rgb(237, 75, 112), rgb(236, 79, 146));
}

/* top section */

.top-banner {
  background-image: url(../image/header-bg.png);
  background-repeat: no-repeat;
}

.half-float {
  width: 40%;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  overflow: hidden;
  padding-left: 5%;
  padding-bottom: 5%;
}

.half-float img {
  width: 100%;
  max-width: 400px;
}

/* middle banner */
.middle-banner {
  background-image: url(../image/biography-bg.png);
  background-repeat: no-repeat;
}
.half-float > h2 {
  font-size: 24px;
}

.half-float > p {
  padding: 40px 0;
}

/* work banner */

.work-banner {
  height: 500px;
  background-image: url(../image/latest-work-bg.png);
  background-repeat: no-repeat;
}

.work-banner > h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 30px;
}

.half-float-image {
  float: left;
}

.half-float-image img {
  width: 25%;
  padding: 0 20px;
}

/* client section */
.client-section {
  height: 400px;
}
.client-name {
  text-align: center;
}

.client-section > h2 {
  text-align: center;
  font-size: 24px;
}

.border {
  border-bottom: 3px solid;
  border-image: linear-gradient(45deg, rgb(28, 206, 216), rgb(55, 153, 245));
  border-image-slice: 1;
  width: 60px;
  margin: 10px auto 40px auto;
}

.client-name > h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.client-section > p {
  width: 40%;
  height: 300px;
  text-align: center;
  margin: 0 auto;
}

.gray-color-text {
  color: rgb(92, 92, 92);
}

/* Contact section  */
.contact {
  height: 300px;
}
.card-style {
  /* background: linear-gradient(45deg, hotpink, purple); */
  background: linear-gradient(45deg, rgb(236, 79, 146), rgb(237, 75, 112));
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  width: 560px;
  border-radius: 10px;
  color: #fff;
  font-family: "PT Serif", serif;
  line-height: 2;
}

.card-style:hover {
  background: linear-gradient(45deg, rgb(237, 75, 112), rgb(236, 79, 146));
}

footer {
  padding-bottom: 12px;
  text-align: center;
  background-image: url(../image/footer-bg.png);
  background-repeat: no-repeat;
}
